Repository developer239/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): publish
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-functional/CHANGELOG.md
  packages/eslint-config-functional/package.json
  packages/eslint-config-jest/CHANGELOG.md
  packages/eslint-config-jest/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/CHANGELOG.md
  packages/eslint-config-storybook/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/semantic-release/CHANGELOG.md
  packages/semantic-release/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/stylelint-css-in-js-config/CHANGELOG.md
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-scss-config/CHANGELOG.md
  packages/stylelint-scss-config/package.json
Due: prettier --write

fix: jest eslint
  packages/eslint-config-jest/index.js
Due: eslint --fix, prettier --write

fix: remove temporary fix
  .github/workflows/main.yml
Due: none

chore(release): publish
  packages/eslint-config-jest/CHANGELOG.md
  packages/eslint-config-jest/package.json
Due: prettier --write

feat: turn off react/react-in-jsx-scope in react-native
  packages/eslint-config-react-native/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
Due: prettier --write

fix: explicitly install postcss as dependency
  packages/stylelint-scss-config/package.json
  packages/stylelint-scss-config/yarn.lock
Due: prettier --write

fix: lockfile
  packages/stylelint-scss-config/yarn.lock
Due: none

chore(release): publish
  packages/stylelint-scss-config/CHANGELOG.md
  packages/stylelint-scss-config/package.json
Due: prettier --write

feat: update scss config
  packages/stylelint-scss-config/index.js
Due: eslint --fix, prettier --write

fix: add stylelint-processor-styled-components
  packages/stylelint-css-in-js-config/index.js
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-config/yarn.lock
Due: eslint --fix, prettier --write

chore(release): publish
  packages/stylelint-css-in-js-config/CHANGELOG.md
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
Due: prettier --write

fix: remove unknown rules
  packages/stylelint-css-in-js-react-native-config/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
Due: prettier --write

fix: stylelint-css-in-js-react-native-config
  packages/stylelint-css-in-js-react-native-config/index.js
  packages/stylelint-css-in-js-react-native-config/package.json
Due: eslint --fix, prettier --write

fix: require "stylelint">=14.0.0
  packages/stylelint-config/package.json
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/package.json
Due: prettier --write

chore(release): publish
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/stylelint-css-in-js-config/CHANGELOG.md
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-scss-config/CHANGELOG.md
  packages/stylelint-scss-config/package.json
Due: prettier --write

feat: improve css in js configuration for RN and WEB
  packages/stylelint-css-in-js-config/index.js
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-config/yarn.lock
  packages/stylelint-css-in-js-react-native-config/index.js
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-css-in-js-react-native-config/yarn.lock
Due: eslint --fix, prettier --write

fix: lockfile
  packages/stylelint-css-in-js-config/yarn.lock
Due: none

fix: lock postcss-css-in-js version
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-config/yarn.lock
Due: prettier --write

fix: remove temporary message -- stylelint 14 is now supported
  packages/stylelint-css-in-js-config/README.md
  packages/stylelint-css-in-js-react-native-config/README.md
Due: prettier --write

feat: make rules less strict
  packages/eslint-config-typescript/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
Due: prettier --write

fix: turn off member ordering
  packages/eslint-config-typescript/index.js
Due: eslint --fix, prettier --write

feat: update eslint and typescript
  .github/workflows/main.yml
  package.json
  packages/eslint-config-typescript/package.json
  packages/eslint-config-typescript/yarn.lock
  yarn.lock
Due: prettier --write

feat: turn off unpublished import in test files
  packages/eslint-config-node/index.js
Due: eslint --fix, prettier --write

feat: initial vitest config
  README.md
  packages/eslint-config-vitest/LICENSE
  packages/eslint-config-vitest/README.md
  packages/eslint-config-vitest/index.js
  packages/eslint-config-vitest/package.json
  packages/eslint-config-vitest/yarn.lock
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-vitest/CHANGELOG.md
  packages/eslint-config-vitest/package.json
Due: prettier --write

feat: update vitest config
  packages/eslint-config-vitest/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-vitest/CHANGELOG.md
  packages/eslint-config-vitest/package.json
Due: prettier --write

feat: update eslint config react
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-react/yarn.lock
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
Due: prettier --write

feat: update base config rules
  packages/eslint-config/index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,json})
