Repository developer239/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

fix: only run ts rules on ts files
  packages/eslint-config-typescript/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
Due: prettier --write

feat: update eslint
  packages/commitlint-config/index.js
  packages/commitlint-config/package.json
  packages/commitlint-config/yarn.lock
  packages/eslint-config-angular/yarn.lock
  packages/eslint-config-node/index.js
  packages/eslint-config-node/package.json
  packages/eslint-config-node/yarn.lock
  packages/eslint-config-react/yarn.lock
  packages/eslint-config-typescript/index.js
  packages/eslint-config-typescript/package.json
  packages/eslint-config-typescript/yarn.lock
  packages/eslint-config-vitest/index.js
  packages/eslint-config-vitest/package.json
  packages/eslint-config-vitest/yarn.lock
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
  packages/prettier-config/index.js
  packages/prettier-config/package.json
Due: eslint --fix, prettier --write

feat: more eslint rules
  packages/eslint-config-typescript/index.js
  packages/eslint-config/index.js
Due: eslint --fix, prettier --write

fix: lockfiles
  packages/eslint-config-node/yarn.lock
  packages/eslint-config-typescript/yarn.lock
Due: none

chore: update eslint config
  .eslintrc.js
  eslint.config.mjs
  package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-node/yarn.lock
  packages/eslint-config-typescript/package.json
  packages/eslint-config-typescript/yarn.lock
  packages/eslint-config-vitest/package.json
  packages/eslint-config-vitest/yarn.lock
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
  yarn.lock
Due: eslint --fix, prettier --write

fix: ci action
  .github/workflows/main.yml
Due: none

chore(release): publish
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config-vitest/CHANGELOG.md
  packages/eslint-config-vitest/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write

fix: eslint config
  commitlint.config.js
  eslint.config.mjs
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: update commit lint config
  packages/commitlint-config/package.json
  packages/commitlint-config/yarn.lock
Due: prettier --write

chore(release): publish
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package.json
Due: prettier --write

feat: nest package
  README.md
  packages/eslint-config-nest/LICENSE
  packages/eslint-config-nest/README.md
  packages/eslint-config-nest/index.js
  packages/eslint-config-nest/package.json
  packages/eslint-config-nest/yarn.lock
Due: eslint --fix, prettier --write

fix: node 22
  .github/workflows/main.yml
  packages/commitlint-config/package.json
  packages/eslint-config-nest/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-typescript/package.json
  packages/eslint-config-vitest/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
Due: prettier --write

chore(release): publish
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package.json
  packages/eslint-config-nest/CHANGELOG.md
  packages/eslint-config-nest/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config-vitest/CHANGELOG.md
  packages/eslint-config-vitest/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: prettier --write

feat: update eslint rules
  packages/eslint-config-nest/index.js
  packages/eslint-config-typescript/index.js
  packages/eslint-config/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-nest/CHANGELOG.md
  packages/eslint-config-nest/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat: improve docs
  README.md
  packages/eslint-config-angular/README.md
  packages/eslint-config-functional/README.md
  packages/eslint-config-jest/README.md
  packages/eslint-config-nest/README.md
  packages/eslint-config-nest/package.json
  packages/eslint-config-node/README.md
  packages/eslint-config-node/package.json
  packages/eslint-config-ramda/README.md
  packages/eslint-config-react-native/README.md
  packages/eslint-config-react/README.md
  packages/eslint-config-storybook/README.md
  packages/eslint-config-typescript/README.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config-vitest/README.md
  packages/eslint-config-vitest/package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/semantic-release/README.md
  packages/stylelint-config/README.md
  packages/stylelint-css-in-js-config/README.md
  packages/stylelint-css-in-js-react-native-config/README.md
  packages/stylelint-scss-config/README.md
Due: prettier --write

chore(release): publish
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-functional/CHANGELOG.md
  packages/eslint-config-functional/package.json
  packages/eslint-config-jest/CHANGELOG.md
  packages/eslint-config-jest/package.json
  packages/eslint-config-nest/CHANGELOG.md
  packages/eslint-config-nest/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-ramda/CHANGELOG.md
  packages/eslint-config-ramda/package.json
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/CHANGELOG.md
  packages/eslint-config-storybook/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config-vitest/CHANGELOG.md
  packages/eslint-config-vitest/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/semantic-release/CHANGELOG.md
  packages/semantic-release/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/stylelint-css-in-js-config/CHANGELOG.md
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-scss-config/CHANGELOG.md
  packages/stylelint-scss-config/package.json
Due: prettier --write

feat: update rules to sync with monorepo
  packages/eslint-config-typescript/index.js
  packages/eslint-config-vitest/index.js
  packages/eslint-config/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config-vitest/CHANGELOG.md
  packages/eslint-config-vitest/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat: cover monorepo eslint overrides
  package.json
  packages/eslint-config-nest/index.js
  packages/eslint-config-node/index.js
  packages/eslint-config-typescript/index.js
  packages/eslint-config/index.js
Due: eslint --fix, prettier --write

fix: handle monorepo config lint paths
  packages/eslint-config-typescript/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,json})
