Repository developer239/linters: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

chore(release): publish
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

feat: create storybook config
  README.md
  packages/eslint-config-storybook/LICENSE
  packages/eslint-config-storybook/README.md
  packages/eslint-config-storybook/index.js
  packages/eslint-config-storybook/package.json
  packages/eslint-config-storybook/yarn.lock
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-storybook/CHANGELOG.md
  packages/eslint-config-storybook/package.json
Due: prettier --write

feat: update dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: update dependencies
  packages/commitlint-config/package.json
  packages/commitlint-config/yarn.lock
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/yarn.lock
  packages/eslint-config-functional/package.json
  packages/eslint-config-functional/yarn.lock
  packages/eslint-config-jest/package.json
  packages/eslint-config-jest/yarn.lock
  packages/eslint-config-node/yarn.lock
  packages/eslint-config-ramda/package.json
  packages/eslint-config-ramda/yarn.lock
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react-native/yarn.lock
  packages/eslint-config-react/package.json
  packages/eslint-config-react/yarn.lock
  packages/eslint-config-storybook/package.json
  packages/eslint-config-storybook/yarn.lock
  packages/eslint-config-typescript/package.json
  packages/eslint-config-typescript/yarn.lock
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
  packages/semantic-release/package.json
  packages/semantic-release/yarn.lock
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-css-in-js-react-native-config/yarn.lock
  packages/stylelint-scss-config/package.json
  packages/stylelint-scss-config/yarn.lock
Due: prettier --write

fix: lock files
  packages/eslint-config-angular/yarn.lock
  packages/eslint-config-node/yarn.lock
  packages/eslint-config-react-native/yarn.lock
  packages/eslint-config-react/yarn.lock
  packages/eslint-config-typescript/yarn.lock
  packages/semantic-release/yarn.lock
  packages/stylelint-css-in-js-react-native-config/yarn.lock
  packages/stylelint-scss-config/yarn.lock
Due: none

chore(release): publish
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-functional/CHANGELOG.md
  packages/eslint-config-functional/package.json
  packages/eslint-config-jest/CHANGELOG.md
  packages/eslint-config-jest/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-ramda/CHANGELOG.md
  packages/eslint-config-ramda/package.json
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/CHANGELOG.md
  packages/eslint-config-storybook/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/semantic-release/CHANGELOG.md
  packages/semantic-release/package.json
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-scss-config/CHANGELOG.md
  packages/stylelint-scss-config/package.json
Due: prettier --write

feat: update jest eslint rules
  packages/eslint-config-jest/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-jest/CHANGELOG.md
  packages/eslint-config-jest/package.json
Due: prettier --write

feat: update stylelint config
  packages/stylelint-config/index.js
  packages/stylelint-scss-config/index.js
  packages/stylelint-scss-config/package.json
  packages/stylelint-scss-config/yarn.lock
Due: eslint --fix, prettier --write

fix: last lock files fix
  package.json
  packages/stylelint-scss-config/yarn.lock
Due: prettier --write

chore(release): publish
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/stylelint-css-in-js-config/CHANGELOG.md
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-scss-config/CHANGELOG.md
  packages/stylelint-scss-config/package.json
Due: prettier --write

feat: make tools up-to-date
  packages/commitlint-config/README.md
  packages/commitlint-config/package.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/templates.js
  packages/eslint-config-angular/typescript.js
  packages/eslint-config/README.md
  packages/eslint-config/package.json
Due: eslint --fix, prettier --write

refactor: remove redundant dependency
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/yarn.lock
Due: prettier --write

fix: lockfile
  packages/eslint-config-angular/yarn.lock
Due: none

chore(release): publish
  packages/commitlint-config/CHANGELOG.md
  packages/commitlint-config/package.json
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: prettier --write

fix: angular config
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/templates.js
  packages/eslint-config-angular/typescript.js
  packages/eslint-config-angular/yarn.lock
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
Due: prettier --write

fix: plugin name typo
  packages/eslint-config-angular/typescript.js
Due: eslint --fix, prettier --write

docs: update angular config readme
  packages/eslint-config-angular/README.md
Due: prettier --write

docs: update main documentation
  README.md
Due: prettier --write

feat: make more package up-to-date
  packages/eslint-config-functional/README.md
  packages/eslint-config-functional/package.json
  packages/eslint-config-jest/README.md
  packages/eslint-config-jest/package.json
  packages/eslint-config-node/README.md
  packages/eslint-config-node/package.json
  packages/eslint-config-ramda/README.md
  packages/eslint-config-ramda/package.json
  packages/eslint-config-ramda/yarn.lock
  packages/eslint-config-react/README.md
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-react/yarn.lock
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-functional/CHANGELOG.md
  packages/eslint-config-functional/package.json
  packages/eslint-config-jest/CHANGELOG.md
  packages/eslint-config-jest/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-ramda/CHANGELOG.md
  packages/eslint-config-ramda/package.json
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
Due: prettier --write

feat: make more package up-to-date
  packages/eslint-config-angular/package.json
  packages/eslint-config-node/package.json
  packages/eslint-config-react/index.js
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/README.md
  packages/eslint-config-storybook/package.json
  packages/eslint-config-storybook/yarn.lock
  packages/eslint-config-typescript/README.md
  packages/eslint-config-typescript/package.json
  packages/prettier-config/package.json
  packages/semantic-release/package.json
  packages/stylelint-config/package.json
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/README.md
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-scss-config/README.md
  packages/stylelint-scss-config/package.json
Due: eslint --fix, prettier --write

fix: codebase
  package.json
  packages/eslint-config-angular/README.md
  packages/eslint-config-angular/index.js
  packages/eslint-config-angular/typescript.js
  packages/eslint-config-angular/yarn.lock
  packages/eslint-config-react/index.js
  packages/eslint-config-react/yarn.lock
  packages/eslint-config/index.js
  packages/stylelint-config/index.js
  packages/stylelint-css-in-js-config/index.js
  packages/stylelint-scss-config/index.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(release): publish
  packages/eslint-config-angular/CHANGELOG.md
  packages/eslint-config-angular/package.json
  packages/eslint-config-node/CHANGELOG.md
  packages/eslint-config-node/package.json
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/eslint-config-react/CHANGELOG.md
  packages/eslint-config-react/package.json
  packages/eslint-config-storybook/CHANGELOG.md
  packages/eslint-config-storybook/package.json
  packages/eslint-config-typescript/CHANGELOG.md
  packages/eslint-config-typescript/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/semantic-release/CHANGELOG.md
  packages/semantic-release/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/stylelint-css-in-js-config/CHANGELOG.md
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-scss-config/CHANGELOG.md
  packages/stylelint-scss-config/package.json
Due: prettier --write

fix: stylelint configurations
  packages/eslint-config-react-native/README.md
  packages/stylelint-config/package.json
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/package.json
Due: prettier --write

chore(release): publish
  packages/eslint-config-react-native/CHANGELOG.md
  packages/eslint-config-react-native/package.json
  packages/stylelint-config/CHANGELOG.md
  packages/stylelint-config/package.json
  packages/stylelint-css-in-js-config/CHANGELOG.md
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-scss-config/CHANGELOG.md
  packages/stylelint-scss-config/package.json
Due: prettier --write

fix: remove unsupported rules
  packages/stylelint-css-in-js-config/index.js
  packages/stylelint-css-in-js-react-native-config/index.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/stylelint-css-in-js-config/CHANGELOG.md
  packages/stylelint-css-in-js-config/package.json
  packages/stylelint-css-in-js-react-native-config/CHANGELOG.md
  packages/stylelint-css-in-js-react-native-config/package.json
Due: prettier --write

docs: note about stylelint@14 support css-in-js
  packages/stylelint-css-in-js-config/README.md
  packages/stylelint-css-in-js-react-native-config/README.md
Due: prettier --write

feat: update dependencies
  packages/commitlint-config/package.json
  packages/commitlint-config/yarn.lock
  packages/eslint-config-angular/package.json
  packages/eslint-config-angular/yarn.lock
  packages/eslint-config-functional/package.json
  packages/eslint-config-functional/yarn.lock
  packages/eslint-config-jest/package.json
  packages/eslint-config-jest/yarn.lock
  packages/eslint-config-node/package.json
  packages/eslint-config-node/yarn.lock
  packages/eslint-config-react-native/yarn.lock
  packages/eslint-config-react/package.json
  packages/eslint-config-react/yarn.lock
  packages/eslint-config-storybook/package.json
  packages/eslint-config-storybook/yarn.lock
  packages/eslint-config-typescript/package.json
  packages/eslint-config-typescript/yarn.lock
  packages/eslint-config/package.json
  packages/eslint-config/yarn.lock
  packages/semantic-release/package.json
  packages/semantic-release/yarn.lock
  packages/stylelint-css-in-js-react-native-config/package.json
  packages/stylelint-css-in-js-react-native-config/yarn.lock
  packages/stylelint-scss-config/package.json
  packages/stylelint-scss-config/yarn.lock
  yarn.lock
Due: prettier --write

fix: add ucommited changes
  packages/prettier-config/yarn.lock
  packages/stylelint-config/yarn.lock
  packages/stylelint-css-in-js-config/yarn.lock
Due: none

fix: lockfiles
  packages/eslint-config-angular/yarn.lock
  packages/eslint-config-node/yarn.lock
  packages/eslint-config-react-native/yarn.lock
  packages/eslint-config-react/yarn.lock
  packages/eslint-config-typescript/yarn.lock
  packages/stylelint-scss-config/yarn.lock
Due: none

fix: add temporary lockfile fix
  .github/workflows/main.yml
Due: none

fix: semantic release lockfile
  packages/eslint-config-angular/yarn.lock
  packages/eslint-config-node/yarn.lock
  packages/eslint-config-react-native/yarn.lock
  packages/eslint-config-react/yarn.lock
  packages/eslint-config-typescript/yarn.lock
  packages/stylelint-css-in-js-react-native-config/yarn.lock
  packages/stylelint-scss-config/yarn.lock
Due: none
